.DS_Store
.idea
findy*.json
deploy/.indy_client
agent/utils/salt.go
*.bolt
ONEfindy.bak.json
ONEfindy.json
ONEdata.gob

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.envrc
.docker
.secrets
.vscode

__debug_bin

scripts/dev/docker/conf/genesis.txt
scripts/dev/docker/cert/client/cert.conf
scripts/dev/docker/cert/client/client.crt
scripts/dev/docker/cert/client/client.key
scripts/dev/docker/cert/server/cert.conf
scripts/dev/docker/cert/server/server.crt
scripts/dev/docker/cert/server/server.key
scripts/dev/docker/docker-compose.yml
scripts/dev/docker/*.log
