.DS_Store
.idea
findy*.json
deploy/.indy_client
agent/utils/salt.go
*.bolt
ONEfindy.bak.json
ONEfindy.json
ONEdata.gob
Session.vim
go.work.bak

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.envrc
.docker
.secrets
.vscode
.data

__debug_bin

scripts/dev/docker/conf/genesis.txt
scripts/dev/docker/cert/**/*.conf
scripts/dev/docker/cert/**/*.crt
scripts/dev/docker/cert/**/*.key
scripts/dev/docker/docker-compose.yml
scripts/**/*.log
