container_commands:
  01_create_mount:
    command: "mkdir -p ./conf"
  02_append_env_file:
    command: "echo export FCLI_IMPORT_WALLET_KEY=$FINDY_AGENCY_STEWARD_WALLET_KEY > ./conf/env"
  03_append_env_file:
    command: "echo export FCLI_IMPORT_WALLET_FILE_KEY=$FINDY_AGENCY_STEWARD_WALLET_IMPORTED_KEY >> ./conf/env"
  04_append_env_file:
    command: "echo export FCLI_AGENCY_STEWARD_WALLET_KEY=$FINDY_AGENCY_STEWARD_WALLET_KEY >> ./conf/env"
  05_append_env_file:
    command: "echo export FCLI_AGENCY_STEWARD_DID=$FINDY_AGENCY_STEWARD_DID >> ./conf/env"
  06_append_env_file:
    command: "echo export FCLI_AGENCY_SALT=$FINDY_AGENCY_SALT >> ./conf/env"
  07_append_env_file:
    command: "echo export FCLI_AGENCY_HOST_ADDRESS=$FINDY_AGENCY_HOST_ADDRESS >> ./conf/env"
  08_append_env_file:
    command: "echo export FCLI_AGENCY_HOST_PORT=80 >> ./conf/env"
  09_append_env_file:
    command: "echo export FCLI_AGENCY_APNS_P12_FILE=/aps.p12 >> ./conf/env"
  10_copy_conf_file:
    command: "cp /tmp/genesis_transactions ./conf/genesis_transactions"
  11_copy_conf_file:
    command: "cp /tmp/steward.exported ./conf/steward.exported"
  12_copy_conf_file:
    command: "cp /tmp/aps.p12 ./conf/aps.p12"
