commands:
  01mkfs:
    command: "mkfs -t ext3 /dev/sdh"
    test: "test ! -d /media/volume1"
  02mkdir:
    command: "mkdir -p /media/volume1"
    test: "test ! -d /media/volume1"
  03mount:
    command: "mount /dev/sdh /media/volume1"
    test: "test ! -f /media/volume1/findy.json"
  04init:
    command: "echo {} > /media/volume1/findy.json"
    test: "test ! -f /media/volume1/findy.json"

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdh=:10