container_commands:
  01_create_mount:
    command: "mkdir -p ./conf"
  02_create_env_file:
    command: "echo export WALLET_NAME=$FINDY_DEV_LEDGER_STEWARD_WALLET_NAME > ./conf/env"
  03_append_env_file:
    command: "echo export WALLET_KEY=$FINDY_DEV_LEDGER_STEWARD_WALLET_KEY >> ./conf/env"
  04_append_env_file:
    command: "echo export IMPORTED_WALLET_KEY=$FINDY_DEV_LEDGER_STEWARD_WALLET_IMPORTED_KEY >> ./conf/env"
  05_append_env_file:
    command: "echo export STEWARD_DID=$FINDY_DEV_LEDGER_STEWARD_DID >> ./conf/env"
  06_append_env_file:
    command: "echo export FINDY_AGENT_SALT=$FINDY_AGENT_SALT >> ./conf/env"
  07_append_env_file:
    command: "echo export HOST_ADDR=$FINDY_AGENT_HOST_ADDRESS >> ./conf/env"
  08_append_env_file:
    command: "echo export HOST_PORT=80 >> ./conf/env"
  09_copy_conf_file:
    command: "cp /tmp/genesis_transactions ./conf/genesis_transactions"
  10_copy_conf_file:
    command: "cp /tmp/steward.exported ./conf/steward.exported"
  11_copy_conf_file:
    command: "cp /tmp/aps.p12 ./conf/aps.p12"
