name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    container: optechlab/indy-golang:1.15.0
    steps:
      - name: setup
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: checkout
        uses: actions/checkout@v2
      - name: use token
        run: git config --global url."https://"${{ secrets.https_prefix }}"github.com/".insteadOf "https://github.com/"
      - name: test
        run: make test
        env:
          TEST_WORKDIR: $HOME/.test/